body, h1, h2, h3, h4, th, #project_title, #project_tagline, .octicon, .octicon-link {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

th {
#  border: 2px white;
}

h4 {

  text-indent: 2em;

}

#project_title {
  font-size: 36px;
  padding-top: 4px;
  padding-bottom:6px;
}


#project_title a{
  color: white;
}


#project_title a:hover{
  color: #007edf;
}

#eng a{
  color: white;
}


#eng a:hover{
  color: #007edf;
}

#project_tagline {
  font-size: 22px;
  padding-bottom:6px;
}


#project_tagline a{
  color: white;

}

#project_tagline a:hover {
  color: #007edf;

}

td {
  vertical-align: middle;

}

dt {
  padding-bottom: 1em;

}




